.meta
  %h2= link_to item.title, article_path(item)
  %p= link_to pluralize(item.comments.count, "Comment"), article_path(item)+'#comments'
  %p= item.created_at.to_s(:short)
.content
  = markdown item.short_text
  = render :partial => 'items/preview_admin', :locals => {:item => item}