!!!
%html
  %head{:xmlns=>"http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en"}
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title=@title.blank? ? 'James Darling : Abscond.org' : @title
    = stylesheet_link_tag 'structural', 'itemlist', 'globals', 'navigation', 'contents'
    = javascript_include_tag 'prototype', 'lowpro'
    
    %link{:href => "/items.atom", :rel => "alternate", :type => "application/atom+xml"}
    
    %link{:rel => "openid.server", :href => "http://www.myopenid.com/server"}
    %link{:rel => "openid.delegate", :href => "http://abscond.myopenid.com/"}
    
    %link{:rel => "shortcut icon", :href => "http://abscond.org/favicon.png", :type => "image/x-icon"}
    
  %body
    #header
      #header-inner
        #open_id_status
          -if User.current_user
            = User.current_user.openid_url
            = render :partial => 'sessions/logout'
          -else
            = render :partial => 'sessions/login'
        %p since 2003
        %h1#abscond= link_to 'Abscond', '/'
        %p James Darling
    
    #navigation
      .nav_section
        %h2 About
        .nav_section_content
          .item_image
            = image_tag 'james_darling.jpg'
          .item_content
            %p
              =link_to 'Abscond.org', '/'
              is the personal site of me, James Darling, a
              = ((Date.today - Date.new(y=1988,m=2,d=26))/365).to_i
              year old living in London.
            %p
              By day, I do the geeky stuff to make
              = link_to "People's Music Store", 'http://peoplesmusicstore.com'
              work marvellously. Other times I
              = link_to 'geek', "http://github.com/james/"
              = link_to 'rave,', "http://bangface.com"
              = link_to 'drive,', "http://flickr.com/photos/abscond/sets/72157603862728267/"
              = link_to 'listen,', "http://www.last.fm/user/Abscond/"
              = link_to 'party', "http://lastordersontheunderground.com/"
              and other things. These short into things are really hard. Hello.
            
      .nav_section
        %h2 Elsewhere
        .nav_section_content
          .item_content
            =link_to "People's Music Store", 'http://peoplesmusicstore.com/abscondrecords'
            \:
            =link_to 'Twitter', 'http://twitter.com/abscond'
            \:
            =link_to 'Flickr', 'http://flickr.com/photos/abscond'
            \:
            =link_to 'Last Orders', 'http://lastordersontheunderground.com/'
            \:
            =link_to 'Last.fm', 'http://last.fm/user/abscond'
      .nav_section
        %h2 Search
        .nav_section_content
          .item_content
            %form{:action => '/', :method => :get}
              %input{:type => :text, :name => :search, :value => params[:search]}
              %input{:type => :submit, :value => :search}
    
    - if flash[:notice]
      #flash
        %p= flash[:notice]
    
    = yield

    = javascript_include_tag 'application'